<div>
    <h3 style="padding: 20px;">   Instructions to give the Quiz</h3>
    <ul>
        <li>You can get the questions by clicking on the Get Questions button on the menu bar</li>
        <li>To submit your answers you can click the Submit Answers button on the menu bar</li>
        <li>You then have to enter the question number and option number of the answer and press the ADD/Update answer button</li>
        <li>The list of answers that you have submitted will be displayed below the submit option</li>
        <li>Once you submit a answer you would have to refresh the screen for the answer or updated answer to appear</li>
        <li>There isnt any limitation on how many times you can update your answer</li>
        <li>To get the result you would have to click on the Get Result button in the menu bar</li>
        <li>You can review the correct answers ans you answers by clicking review correct answers</li>
        <li>You can give the test any number of times that you need</li>
    </ul>
    <p style="color: red;padding: 10px;">Note:Every time you go click the get result button a new attempt is added</p>
    <h4 style="padding: 10px;">Marking scheme</h4>
    <ul>
        <li>Each correct answer will add 5 marks to your score</li>
        <li>Each wrong answer will decrease 1 mark from your score </li>
        <li>No marks will be added or reduced for questions that are not answered</li>
        <li>You cannot unmark an answer if you wish to not attempt it you can update the question putting 0 as the answer number</li>
    </ul>
</div>
